.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  padding: 20px 30px;
}
.logoContainer {
  height: 80px;
  display: flex;
  align-items: center;
}
.cabecera img {
  width: 230px;
  height: auto;
}
@media (max-width: 768px) {
  .cabecera {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .cabecera img {
    width: 150px;
  }
}
